html{
  color:white;
  font-family: serif;
  margin:0;
}

body{
  margin:0;
  width:100%;
  height:100%;
}

.menu nav{
  display: none;
}

.menu{
  text-align: center;
  padding-bottom:10px;
  /* padding-right: 30px;
  padding-left: 30px; */
  margin:0 auto;
}

.menu a{
  color:white;
  padding-bottom:5px;
  text-decoration: none;
  border-bottom:1px solid white;
  font-size:12px;
}


h1{
  font-size: 60px;
  margin:0;
}

.menu h1{
  padding-top: 40px;
  padding-bottom: 20%;
  text-align:center;
}

.menu h3{
  /* font-family: "メイリオ"; */
  font-weight: 600;

}

.menu p{
  font-size: 10px;
  font-weight: bold;
}

header{
  background-image: url(img/img1.jpg);
  background:url(img/img1.jpg) center center / cover no-repeat ;
  height: 100vh;
}

.un-me span{
  padding:0 5px;
}

.back{
  position: relative;
}

.un-me{
  margin:0 50px;
  position:relative;
  top:60%;
}
.un{
  position: relative;
}
main{
  color:black;
}

main h1{
  text-align: center;
  padding:10px 0;
  margin-top:5px;
  margin-left:calc( 50% -70px);
  /* margin:0 auto; */
}
.fa-bars{
  /* float:right; */
  margin-left:auto;
  padding:32px 0;
  /* padding-bottom:20px */
  padding-right:10px;

}
.dai{
  border-bottom:1px solid #EEEEEE;
  display:flex;
  position: relative;
  margin-left:calc( 50% -70px);
}
.dai h1{
  position: absolute;
  /* top:20px; */
  left:calc( 50% - 60px);
}

.mm ul{
  display: flex;
  justify-content:space-between;
  padding:0 0 7px 0;
  /* border-bottom: 1px solid #dddd; */

}

.mm{
  /* margin:0 auto; */
}

.mm a{
  text-decoration:none;
  color:#aaaa;
}

.mm li{
  list-style: none;
  margin:0 25px;
  /* justify-content: center; */
}

.news{
  /* width: 100%; */
  margin:7px;
  max-width: 100%;
  box-sizing: border-box;
}

.mor img{
  max-width: 100%;
}

.mor h2{
  padding:5px 0 20px 10px;

}

.mor{
  /* border-bottom: 1px solid #dddd; */
  margin-bottom:40px;
}



.card img{
  width:224px;
  height: 217px;
  object-fit: cover;
}

.so p{
  width: 220px;
  text-align: center;
  padding-left:5px;
}

.so{
  width: 224px;
}

.mor h5{
  font-size: 20px;
}

.card{
  display: flex;
  box-sizing: border-box;
  height: 370px;
}

.left{
  padding-right:21px;
}


.card p{
  margin-left:5px;
  margin-bottom: 7px;
}

h5{
  padding-top:20px;
  text-align: right;
  padding-right:8px;
}

.dtop{
  margin:0 5px;
  position: relative;
}

.icon{
  position: absolute;
  top:calc( 50% - 13px );
  left:170px;
}

.dtop h3{
  text-align: center;
  font-weight: normal;
  padding:15px 0;
  border-top:1px solid #eeeeee;
  border-bottom:1px solid #eeeeee;
}

.des h2{
  text-align: center;
  margin-top:20px;
  margin-bottom: 30px;
  font-size:30px;
  font-weight: normal;
}

.dcon{
  display: flex;
  width:90%;
  margin:30px auto;
  padding-bottom:10px;
  /* border-bottom: 1px solid #eeeeee; */
  box-sizing: border-box;
}

.mormor{
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.dcon img{
  width:200px;
  height:200px;
  object-fit: cover;
  margin-right:15px;
  border-radius: 2px;
}

.dcon p{
  /* flex:1; */
  margin:0 10px;
  font-family: sans-serif;
}

.last{
  border-bottom:1px solid #eeeeee;
  padding-bottom:20px;
  margin-bottom:40px;
}

.dcon h4{
  margin:0;
  padding-bottom:0;
}

.name{
  font-family: serif;
  /* margin-right:auto; */
  padding-top:100px;
  padding-right: 20px;
  text-align: right;
}

footer{
  background-color: black;
}

footer h2{
  color:white;
  font-weight: 200;
  font-size:18px;
  margin-bottom:0;
  padding-bottom: 0;
  padding-left:40px;
}

.foot{
  padding:30px 30px 0 30px;
}

.footer-con{
  height:120px;
  margin-bottom:60px;
  text-align: left;
}

footer ul{
  list-style: none;
}

footer a{
  color:#aaaa;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;

}

.ue{
  display:flex;

}

.fas{
  padding-right: 1em;
}

footer a:hover{
  color:white;
}

.info p{
  display: inline-block;
  margin-right:10px;
  text-align: center;
  width:40px;
  height: 40px;
  border-radius: 50%;
  border:1px solid #aaaa;
}

.info .fab{
  padding-top:11px;
  /* padding-left:1px; */
  color:#aaaa;

}

.info{
  padding-left:70px;
}

.intro{
  margin-left: 70px;
  margin-top:40px;
}

.intro h2{
  margin-left: 0;
  padding-left: 0;
  padding-bottom:30px;
  margin-top:10px;
}

.intro h3{
  font-size:8px;
  font-weight: normal;
  color:#aaaa;
  margin-bottom:0;
}

.intro span{
  padding-left:1em;
}

.intro p{
  font-size:9px;
  color:#bbbb;
  margin-bottom:0;
  padding-bottom:100px;
  width:300px;
}



@media (min:500px){

}

@media (min:900px){


}
